{% extends "base.html" %}

{% block title %}Expenses Dashboard{% endblock %}

{% block content %}

<h2>Expenses Dashboard</h2>

<form method="GET" action="{{ url_for('expenses.list_expenses')}}">
    <input type="text" name="category" placeholder="Filter by category" value="{{ category_filter or '' }}"
    class="border border-gray-300 rounded px-3 py-3 w-1/3 focus:outline-none focus:ring-2 focus:ring-blue-500">
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded" type="submit">Filter</button>
</form>

{% if category_filter %}
    <p class="mb-4 text-gray-600">Showing results for category: "<strong>{{ category_filter }}</strong>"
    <a class="text-blue-600 hover:underline ml-2" href="{{ url_for('expenses.list_expenses') }}">(Clear filter)</a></p>
{% endif %}


{% if expenses %}
<table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md mt-6">
    <thead class="bg-gray-200 text-gray-700 uppercase text-sm">
        <tr>
            <th class="py-3 px-6 text-left">Amount</th>
            <th class="py-3 px-6 text-left">Category</th>
            <th class="py-3 px-6 text-left">Description</th>
            <th class="py-3 px-6 text-left">Date</th>
            <th class="py-3 px-6 w-40 text-left">Actions</th>
        </tr>
    </thead>
    <tbody class="text-gray-700 text-sm divide-y divide-gray-300">
        {% for expense in expenses %}
        <tr>
            <td class="py-4 px-6">{{ expense.amount }}</td>
            <td class="py-4 px-6">{{ expense.category }}</td>
            <td class="py-4 px-6">{{ expense.description }}</td>
            <td class="py-4 px-6">{{ expense.date.strftime('%Y-%m-%d') }}</td>
            <td class="px-4 py-3 flex justify-center gap-2">
                <a href="{{ url_for('expenses.edit_expense', expense_id=expense.id) }}"
                    class="px-3 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded text-xs">
                    Edit
                </a>
                <form action="{{ url_for('expenses.delete_expense', expense_id=expense.id) }}"
                    method="POST"
                    onsubmit="return confirm('Are you sure?');">
                    {{ form.hidden_tag() if form else '' }}
                <button type="submit"
                    class="px-3 py-1 bg-red-500 hover:bg-red-600 text-white rounded text-xs">
                    Delete
                </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div class="mb-4 text-gray-600 text-center py-6 bg-gray-50 rounded-lg shadow">
    <p class="mb-2">No expenses yet.</p>
    <a href="{{ url_for('expenses.add_expenses') }}"
       class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
        Add Your First Expense
    </a>
</div>
{% endif %}
<div class="mt-6">
    <a href="{{ url_for('expenses.add_expenses') }}"
       class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
        Add New Expense
    </a>
</div>

{% endblock %}
