{% extends "base.html" %}

{% block title %}Add Expense or Edit expense{% endblock %}

{% block content %}
<div class="max-w-wl mx-auto bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-semibold mb-4">{{"Edit Expense" if edit_mode else "Add New Expense"}} </h2>

<form method="POST">
    {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.amount.label(class="block font-medium mb-1") }}<br>
            <p class="text-sm text-gray-500 mt-1">Enter a number.</p>
            {{ form.amount(class="border border-gray-300 rounded w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
        </div>
        <div class="mb-4">
            {{ form.category.label(class="block font-medium mb-1")}}<br>
            <p class="text-sm text-gray-500 mt-1">Enter a name of category</p>
            {{ form.category(class="border border-gray-300 rounded w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
        </div>
        <div class="mb-4">
            {{ form.description.label(class="block font-medium mb-1") }}<br>
            <p class="text-sm text-gray-500 mt-1">Enter a description (optional)</p>
            {{ form.description(class="border border-gray-300 rounded w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
        </div>
        <div class="mb-4">
            {{ form.date.label(class="block font-medium mb-1") }}<br>
            <p class="text-sm text-gray-500 mt-1">Select a date</p>
            {{ form.date(type="date", class="border border-gray-300 rounded w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
        </div>

        <div class="flex justify-between">
            <a href="{{ url_for('expenses.list_expenses') }}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded">Cancel</a>
            {{ form.submit(class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded", value="Update" if edit_mode else "Add") }}
        </div>
    </form>
</div>

{% endblock %}
